<meta charset="utf-8" />
<title>商品智能重发 - 懒人系列，有它，你可以更懒</title>
<meta name="keywords" content="定时,自动重发,阿里巴巴应用,淘宝应用" />
<meta name="description" content="帮助网商进行自动重发的阿里巴巴产品！" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${config.staticHost}/style/bs/css/bs.min.css?v=6"
	rel="stylesheet">
<link href="${config.staticHost}/style/bs/css/s2.min.css"
	rel="stylesheet">
<link href="${config.staticHost}/style/theme.min.css?v=20130619"
	rel="stylesheet">
<!--[if IE 6]>
    <link href="${config.staticHost}/style/bs/css/ie6.min.css" rel="stylesheet">
<![endif]-->
<script>
	//环境变量
	window.contextpath = "${rc.contextPath}";
	window.csrfToken = "$!{csrfToken}";
</script>
