<div class="container" style="margin: 0 auto; width: 100%; margin-bottom: 50px; ">
   <div class="alert alert-info">
      <strong>温馨提示</strong>：由于篇幅有限，仅为您显示最近2-3天内的历史记录。
   </div>
   <div style="width: 100%;">
      <h4 style="">自动重发的历史记录</h4>
      <div style="padding: 20px; width: 94%; border: 1px solid #E1E1E8; border-radius: 4px 4px 4px 4px;">
         <!-- 执行计划 -->
         <table class="table table-hover table-striped">
            <thead>
               <tr>
                  <th>重发时间</th>
                  <th>重发的商品</th>
                  <th>重发结果</th>
                  <th>商品过期时间/失败原因</th>
               </tr>
            </thead>
            <tbody id="resultTable">
               #foreach($repubResult in $list)
               <tr>
                  <td>$!dateFormatUtils.format($repubResult.publishTime, "MM月dd日HH点mm分")</td>
                  <td><a href="http://detail.1688.com/offer/${repubResult.offerid}.html" target="_blank">$repubResult.offersubject</a></td>
                  <td>#if($repubResult.result) <span style="color:green;">成功</span>#else <span style="color:red;" title="$repubResult.resultDetail">失败</span> #end</td></td>
                  <td>#if($repubResult.result && $repubResult.expiresTime) $!dateFormatUtils.format($repubResult.expiresTime, "yyyy年MM月dd日") #else <span style="color:red;" title="$!repubResult.resultDetail">$!repubResult.resultDetail</span> #end</td>
               </tr>
               #end
            </tbody>
         </table>
         #if(!$list || $list.size() <= 0)
           <div id="noResultDiv" class="alert alert-warn"
            style="text-align: center;">
            <br>
            <p>
               <i class="icon-warning-sign"></i>
               <span style="color:red;">您还没有任务计划的重发记录，如果您是刚刚才设置重发任务，请您耐心等到重发时间过后，再来看看这个页面。^_^</span>
            </p>
            <br>
           </div>
         #end
      </div>
        #parse("share/${path}/paginator.htm")
   </div>
</div>
#parse("share/${path}/initJs.htm")
