#set($queryUrl = "${rc.contextPath}/his")
<div style="margin-top: 50px;" class="pagination">
   <ul>
      #if(!$paginator.isDisabledPage(1))
      <li><a href="${queryUrl}">首页</a></li>
       #else
      <li class="disabled"><a href="javascript:;">首页</a></li> 
      #end 
      
      #if($paginator.isDisabledPage($paginator.getPreviousPage()))
      <li class="disabled"><a href="javascript:;">上一页</a></li> 
      #else
      <li><a href="${queryUrl}/$paginator.getPreviousPage()">上一页</a></li>
       #end 
       
       #set($sliders = $paginator.getSlider())
       
       ##分隔
       #if($sliders.size() > 0 && $sliders.get(0) > 1)
         <li><a href="${queryUrl}">1</a></li>
         <li class="disabled"><a href="javascript:;">...</a></li>
       #end
      
      #foreach($slider in $sliders) 
        #set($containEndPage = false)
        #if(!$containEndPage && $slider == $paginator.getLastPage())
               #set($containEndPage = true) 
        #end
        #if($paginator.isDisabledPage($slider))
      <li class="active"><a href="javascript:;">$slider</a></li>
        #else
      <li><a href="${queryUrl}/$slider">$slider</a></li> 
        #end 
      #end 
      
       ##分隔
       #if(!$containEndPage)
         <li class="disabled"><a href="javascript:;">...</a></li>
       #end
      
      #if($paginator.isDisabledPage($paginator.getNextPage()))
      <li class="disabled"><a href="javascript:;">下一页</a></li> 
      #else
      <li><a href="${queryUrl}/$paginator.getNextPage()">下一页</a></li> 
      #end 
      
      #if($paginator.isDisabledPage($paginator.getLastPage()))
      <li class="disabled"><a href="javascript:;">末页</a></li>
      #else
      <li><a href="${queryUrl}/$paginator.getLastPage()">末页</a></li>
      #end
   </ul>
</div>