<div class="container"
	style="margin: 0 auto; width: 100%; margin-bottom: 50px;">
	<div>
		<div class="alert alert-warning">
			<strong>温馨提示</strong>：如果看完后还有不懂的地方，请联系我们的 <strong class="stronger"><img
				style="height: 13px" src="${config.staticHost}/image/alim.png" />
				旺旺客服 </strong> 喔！
		</div>
		<div id="readme" style="background-color: #FFFFFF">
			<br>
			<p>
				<img src="${config.staticHost}/image/readme/banner-gif.png" />
			</p>
			<img style="border: 1px solid #B20000"
				src="${config.staticHost}/image/readme/shiyong.gif" /> <br> <br>
			<img src="${config.staticHost}/image/readme/readme-whole.jpg" />

		</div>
	</div>
</div>