<!DOCTYPE html>
<html lang="zh-cn">
<head>#parse("common/header.htm")
</head>
<body class="home">
  $screen_content
  <script type="text/javascript" src="${config.staticHost}/style/bs/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="${config.staticHost}/style/bs/js/bs.min.js"></script>
  <!--[if IE 6]>
   <script type="text/javascript"
      src="${config.staticHost}/style/bs/js/ie6.min.js"></script>
   <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="${config.staticHost}/style/bs/js/html5.js"></script>
   <![endif]-->
  <script type="text/javascript" src="http://tajs.qq.com/stats?sId=17955861" charset="UTF-8"></script>
</body>
</html>